@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'instrumentSans';
  src: url('/fonts/instrumentsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'instrumentSansnorm';
  src: url('/fonts/InstrumentSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'instrumentSansBold';
  src: url('/fonts/InstrumentSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Istok';
  src: url('/fonts/IstokWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Jakarta';
  src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Define the weight range */
  font-style: normal;
}


@font-face {
  font-family: 'IstokN';
  src: url('/fonts/IstokWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
} */

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}